:root {
    --app-height: 100%;
}

html,
body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: absolute;

    @media not all and (hover:hover) {
        height: var(--app-height);
    }
}


#palettes {
    display: flex;
}

.palette{
    border-style: solid;
    border-radius: 3px;
    border-color: white;
    border-width: 2px;
    margin: 3px;
    display: flex;
    height: 20px;
    width: 20px;
}

.palette-item{
    flex: 1;
    height: 100%;
}

#wallpaper text {
    transition-duration: 0.2s;
}

#wallpaper rect {
    transition-duration: 0.2s;
}

#image-preview-modal {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#image-preview {
    padding:20px;
    background-color: white;
    height: 65%;
    width: 65%;
    opacity: 0;
    transition-duration: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}

#image-preview-container{
    display: flex;
    align-items: center;
    justify-content: center;
}


#close-preview {
    position: absolute;
    right: 3px;
    top: 3px;
}

#close-preview span {
    padding-top: 3px;
}

#settings-panel {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 5px;
    top: 5px;
    background-color: #0005;
    border-radius:5px;
    height: 40px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 1s;
    overflow: hidden;
    z-index: 3;
  }


.input-group {
    display: flex;
    justify-content: flex-end;
    margin: 3px;
}

.input-group .material-icons {
    color:white;
    margin-top: -2px;
}

.input-group-left {
    display: flex;
    justify-content: flex-start;
    margin: 3px;
}

#textContent {
    width: 100%;
    color:white;
}

#settings {
    position: absolute;
    right: 3px;
}

.settings-header button span {
    padding-top: 3px;
}

.settings-header button {
    margin: 4px;
    color: white !important;
}

.settings-header button:hover {
    background-color: #0005 !important;
}

.settings-header button:active {
    background-color: #0003 !important;
}

.settings-header button:focus {
    background-color: #0005 !important;
}

canvas{
    display: none;
}

input[type="color"] {
	-webkit-appearance: none;
	border: none;
	width: 2em;
    margin-top: -4px;
    background-color: transparent;
}

.input-group .description{
    padding-left:4px;
    padding-right:4px;
    color: white;
    margin-right: 3px;
}
